@charset "utf-8";

/*------reset-------------------------------------------------------------------*/

body
{
	margin: 0px;
	padding: 0px;
}

a
{
	text-decoration: none;
	color: inherit;
}

ul
{
	margin: 0px;
	padding: 0px;
}

li
{
	list-style: none;
}

h1
{
	margin: 0px;
	padding: 0px;
}

p
{
	margin: 0px;
	padding: 0px;
}

input
{
	border-width: 0px;
}

fieldset
{
	border: 0px;	
}

select
{
	height: 30px;
	width: 100px;
	padding-left: 5px;
	margin-left: 5px;
	position: relative;
	border-color: #7B7F80;
	left: 3px;
}
/*------abstract--------------------------------------------------------------------*/
body
{
	font-family: '맑은 고딕', '고딕', sans-serif;
}

.bold
{
	font-weight:bold;
}

.center
{
	margin-left: auto;
	margin-right: auto;
}

.hidden
{
	display: none;
	
}

.left-align
{
	text-align: left;
	padding-left: 30px;
}

.mt20
{
	margin-top: 20px;
}

.mt70
{
	margin-top: 70px;
}

.ml20
{
	margin-left: 20px;
}

.mr20
{
	margin-right: 20px;
}

.mb20
{
	margin-bottom: 20px;
}

.top-padding
{
	padding-top: 80px;
}

.bot-padding
{
	padding-bottom: 80px;
}

.input
{	
	box-sizing: border-box;
	height: 30px;
	width: 320px;
	padding-left: 10px;
	border: 1px solid #7B7F80;
}

.address-box
{	
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	height: 30px;
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	right: 4px;
}	

	.address-box select
	{
		margin: 0px;
	}
	
.input-short
{
	box-sizing: border-box;
	height: 30px;
	width: 200px;
	padding-left: 10px;
	border: 1px solid #7B7F80;
}


.input-sh-short
{
	box-sizing: border-box;
	height: 30px;
	width: 95px;
	padding-left: 10px;
	margin-left: 17.5px;
	border: 1px solid #7B7F80;
}

.marl5
{
	margin-left: 0px;
}


.btn-input
{
	box-sizing: border-box;
	border: 1px solid #1da1f2;
	height: 30px;	
	min-width: 100px;
	display: inline-block;
	background-color: #1da1f2;
	color: #fff;
	text-align: center;
	font-weight: bold;
}


.msg-subject
{
	display: inline-block;
	font-family: 'Batang', '고딕', sans-serif;
	font-size: 45px;
	font-weight: bold;
	color: #000;
	padding-bottom: 5px;
}

.msg-strong
{
	display: inline-block;
	font-family: 'Batang', '고딕', sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #7B7F80;
	padding-bottom: 5px;	
}

.msg-mid
{
	font-size: 20px;
	font-weight: bold;
}

.text-small
{
	font-size: 12px;
}

.color
{
	color: #1da1f2;
}

/*-----------------------------------------------------------------------------------*/

#main
{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	min-height: 740px;
	box-sizing: border-box;
	border-left: 1px solid #B3B4B5;
	border-right: 1px solid #B3B4B5;
}

	#main > section > h1
	{
		display: none;
	}

.root-container
{
	padding-top: 80px;
	text-align: center;
	height:100%;
	min-height:inherit;
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

	.root-container > section > h1
	{
		display: none;
	}

.category
{
	padding-top: 350px;
}

.question
{
	line-height: 50px;
	font-weight: bold;
	height: 50px;
	width: 500px;
	background-color: #fff;
	
}

.content
{
	height: inherit;
	width: 500px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.btn
{
	width: 100px;
	height: 100px;
	background-color: #fff;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 5px solid #1da1f2;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	font-weight: bold;
}

.btn:hover
{
	height: 150px;
	width: 150px;
	opacity: 0.7;
	cursor: pointer;
	transition: 0.3s;
}

.introduce
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.side-visual
{
	width: 200px;
	min-height: 740px;
	border-right: 1px solid #1da1f2;
}

.intro-box
{
	text-align: left;
	width: 800px;
	min-height: 740px;	
	
}


.home-button
{
	width: 100px;
	height: 40px;
	border: 1px solid #B3B4B5;
	position: fixed; 
	right: 400px;
	top: 150px;
	background: url('../Images/phz/home_button.png') no-repeat center;
	background-color: #fff;
	background-size: contain;
}

	.home-button a
	{
		display: block;
		width: 100%;
		height: 100%;
	}

.btn-a:before
{
	content:' ';
	display:inline-block;
	vertical-align:middle;
	height:100%;
 	margin-left: -4px;
}

.btn-a
{	
	display: inline-block;
	box-sizing: border-box;
	height: inherit;
	line-height: 70px;
}

.btn-default
{
	display: inline-block;
	background-color: #1da1f2;
	color: #fff;
	text-align: center;
}

 .btn-default.btnhuge
 {
 	display: inline-box;
 	height: 100px;
 	width: 100px;
 }



.btn-small
{
	position: absolute;
	right: 0px;
	display: inline-block;
	background-color: #1da1f2;
	min-width: 80px;
	color: #fff;
	text-align: center;
}	

	.btn-small:hover
	{
		cursor	 pointer
	}

	.btn-login
	{
		position: absolute;
		right: 0px;
		top: 0px;
		background-color: #1da1f2;
		min-width : 100px;
		height: 70px;
		color: #fff;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		vertical-align: middle;
	}
	
	.btn-login:hover
	{
		cursor: pointer;
	}

.login-bg
{
	background-color: #e9e9e9;
	height: 150px;
	width: 850px;
	margin-top: 10px; 
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}	
	.login-input
	{	
		box-sizing: border-box;
		width: 430px;
		position: relative;
		text-align: left;
		margin-left: auto;
		margin-right: auto;
	}

	.login-input > ul
	{

	}

	.login-input > ul > li
	{
		margin-bottom: 10px;
	}


	.login-etc > ul
	{
		display: flex;
		flex-direction: column;
		font-size: 15px;
	}
	
	
	.login-etc > ul > li
	{
		position: relative;
		text-align: left;
		width: 430px;
		border-bottom: 1px solid #e9e9e9;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		padding-bottom: 20px;
	}
	
.msg-box
{
	display: block;
	text-align: center;
}

.login-box .msg-box
{
	margin-top: 20px;
} 

.register-box
{
	width: 750px;
	min-height: inherit;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	padding-bottom: 30px;
}

.register-box .msg-box
{
/* 	margin-top: 30px; */
}

.register-step
{
	display: block;
	width: inherit;
	height: 35px;
	position: absoulute;
	top: 10px;
	align-item: center;
}

.register-step >ul
{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}


.register-step > ul> li
{
	float: left;
}


.selected-step
{	
	background-color: #e9e9e9;
	border-bottom: 3px solid #1da1f2;
}

.register-step > ul> li > span
{
	display: inline-block;
	line-height: 30px;
	font-weight: bold;
	height: 30px;
	width: 250px;
	border: 1px solid #e9e9e9;
	box-sizing: border-box;
	border-collapse: collapse;
}

/* .register-step > ul> li:after
{
	clear: left;
}
 */
.type-input
{
	display: inline-block;
	height: 300px;
	padding-top: 80px;
	align-items: center;
}

.type-bg
{	
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 750px;
	height: 500px;
	background-color: #e9e9e9;
}

.box
{
	position:relative;
}

.box-regtype
{	
	margin: 15px;
	height: 300px;
	width: 300px;
	background: #fff;
	border: 1px solid #7B7F80;
	float:left;
}

.box-regtype > a 
{
	display: flex;
	justify-content: center;
}

	.box-regtype > a > span
	{
		display: inline-block;
		height: 20%;
		min-width: 200px; 
		height: 100%;
		font-weight: bold;
		font-size: 20px;
	}

.box-label
{
	width: inherit;
	height: 25px;
	margin-bottom: 10px;
	text-align: left;
	border-bottom: 2px solid #1da1f2;
	margin-left: auto;
	margin-right: auto;
	
}

.label-text
{
	font-weight: bold;
	font-size: 17px;
}

.info-bg
{
	background: #e9e9e9;
	position: relative;
	width: 750px;
	min-height: inherit;
	padding: 30px 0px 30px 0px;
	margin-left: auto;
	margin-right: auto;
	/* padding-bottom: 30px; */
}



.info-bg .label-text
{
	position: absolute;
	left: 80px;
}

.info-bg .text-small
{
	position: relative;
	left: 200px;
	text-align: left;
}

.info-input
{   
	box-sizing: border-box;
    width: 430px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.info-bg li 
{
    margin-bottom: 7px;
}

.btn-agree
{
	display: inline-block;
	background-color: #1da1f2;
	min-width: 80px;
	color: #fff;
	text-align: center;
	position: absolute;
	right: 0px;
}	

.btn-huge
{	
	display: inline-block;
	height: 50px;
	width: 200px;
	font-size: 30px;
	font-weight: bold;
}

.btn-huge span
{
	line-height: 50px;
}

.text-emp
{
	color:  #1da1f2;
	font-weight: bold;
}

.box .agree
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	text-align: left;
	position: relative;
	
}


.agree li:first-child
{
	display: block;
	border-bottom: 2px solid #7B7F80;
	padding-bottom: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}
.agree li
{
	margin-bottom: 15px;
}

.agree li > label:hover
{
	cursor: pointer;
}

.category p
{
	line-height: 50px;
}

.sp-select
{
	width: 72.5px;
}

.input-file
{
	box-sizing: border-box;
	width: 320px;
	border: 1px solid #7B7F80;
	margin-left:auto;
	margin-right: auto;
	text-align:left;
	background-color: #fff;
}

.file-box
{
	display:flex;
	justify-content: center;
	width: 320px;
	height: 150px;
	border: 1px solid #7B7F80;
	background-color: #e9e9e9;
	margin-left:auto;
	margin-right: auto;
}

.file-layout
{
	box-sizing: border-box;
	width: 150px;
	height: 150px;
	border-left: 1px solid #7B7F80;
	border-right: 1px solid #7B7F80;
	margin-left:auto;
	margin-right: auto;
	background-color: #e9e9e9;
	
}
	
.text-area
{
	box-sizing: border-box;
	width: 320px;
	height: 150px;
	border: 1px solid #7B7F80;
}

.sp-box
{
	display: flex;
	width: 320px;
	flex-direction: row;
	margin-left:auto;
	margin-right:auto;
	justify-content: space-between;
	padding-right: 8px;
}

.sp-box select
{
	margin: 0px;
}

.gothic
{
	font-family: '맑은 고딕', '고딕', sans-serif;
}


