@charset "utf-8";

/* 첫 번째 방
-height / min-height
-reset : body(margin 을 리셋)
두 번째 방
-height / min-height : 100%, inherit
-박스를 정렬 : width:고정 -> margin-left/right/center
-margin / padding / border
-DevTool(F12) 
-세 번째 방
-floating, clear-fix
<<<<<<< HEAD
*/


/*-- --------reset-------------------- --*/
body{
	margin:0px;
}
h1{
	margin:0px;
}
h1>ul>li{
	text-align: center;
}
ul{
	padding: 0px 30px;
	margin:0px;
}
li{
	display: block;
}
a{
	text-decoration: inherit;
	color:inherit;
}
img{
	height:100px;
	width:100px;
	background: no-repeat center;
	display:inline-block;
}
input{
	display: inline-block;
}
section{
	display: inline-block;
}

/*------------------------------base style--------------------*/
.hidden{
	display:none;
}

/*-------------------component--------------------------------*/
.btn,
.button{
	min-width:71px;
	color:#000000;
	display:inline-block; 
	text-align:center;
	padding:3px 8px;
	border-radius: 4px;
	cursor:pointer;
	border:0px;
	
}
.btn-more,
.button-more{
	margin-top:30px;
	float:right;
}

/*-------------------------------------------------*/
.hor-menu{
  display: inline-block;
	}
	
.hor-menu > h1{
  display: none;
	}
  
.hor-menu>ul {
  overflow: auto; 
	}
  .hor-menu>ul>li{
  float: left;
  }
  .hor-menu.fitst-pad-none>ul>li:first-child { /* and */
  padding-left: 0px;
  background: none;
  }
  
/*------------------------------*/
	
	.member-menu{
  font-family :"맑은고딕", "고딕", "sans-serif";
  font-size: 15px;
  font-weight: bold;	
	}
  .member-menu>ul>li{
  padding-left: 20px;
  }


/*----------------------------*/
#header{
	height : 100px;
	border-bottom:5px solid #83aafc;
}
#logo{
	background: no-repeat 4px center;
	width:30px;
	height:30px;
	margin-left:45%;
}
/*------main-menu style--*/
.main-menu{
  font-family :"맑은고딕", "고딕", "sans-serif";
  font-size: 15px;
  font-weight: bold;	
  color:#000000;
}
.main-menu>ul>li{
  text-align:center;
  padding-left: 70px;
  background: no-repeat 13px center;
  font-size: 23px;
  }
/*----------------------------------------------------------------------------------*/


/*--------------------------------------*/
#body{
	min-height : 300px;  /* --물려받은 높이 없음-- */
	border-top:5px solid #83aafc;
	margin-top:1px;
}
#footer{
	height : 130px;
	background :#313131;
	padding : 35px;
}
.root-container{
	height:100%;
	min-height:inherit;
	width : 960px;
	margin-left:auto;
	margin-right:auto;
}

#body> .root-container{
	display:flex;
	flex-direction: row;
	background: repeat-y center;
}
	

#main{
	min-height:inherit; /* --상위 엘리먼트의 속성값을 그대로 물려받아 적용-- */
	min-width:755px;
	padding:45px 0px 40px 35px; /* --padding을 주면 박스가 늘어남. 그래서 box-sizing: border-box; 사용-- */
	box-sizing: border-box;
}

 #main > section > h1{
	width:100px;
	height:100px;
	background: no-repeat left top;
}

 
.clear-fix::after{
	display:block;
	clear:both;
	height:0px;
	overflow:hidden; /* --넘친것들 숨김-- */
}
.form{
	display:inline-block;
}
.distance{
	display: inline-block;
	padding:0px 50px;
	margin-top:25px;
}

.height{
	height:25px;
}
.color-footer{
	color:white;
}



