@charset "UTF-8";

/*--------------------------------Reset 부분--------------------------------*/
body{
	margin: 0px;
	padding: 0px;
	font-family: "맑은 고딕", "고딕", sans-serif;
	font-weight: bold;
	font-size: 25px;
}

ul{
	padding: 0px;
	margin: 0px;
}

li{
	display: block;
}

h1{
	margin: 0px;
}

a{
	text-decoration: inherit;
	color: inherit;
}


/*--------------------------------Abstract------------------------------*/
.root-container{
	height: 100%;
	min-height: inherit;
	width : 960px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

/*--------------------------------header------------------------------*/
#header{
	width:100%;
	height: 150px;
	background: #b0c4de;
}


/*--------------------------------member-menu------------------------------*/
.member-menu{
	border-bottom: 5px solid #add8e6;
	height: 55px;
	overflow: auto;
}

.member-menu > h1{
	display: none;
}

.member-menu-box{
	float: right;
	padding-top: 15px;
	padding-right: 15px;
}

.member-menu-box > ul > li{
	float: left;
	padding-left: 10px;
	background: url("../Images/bg-member-menu-sp.png") no-repeat 5px center;
	font-size: 12px; 
}

.member-menu-box > ul > li:first-child{
	padding-left: 0px;
	background: none;
}

.member-menu-box > ul > li:hover{
	color: blue;
	text-decoration: underline;
}


/*--------------------------------logo------------------------------*/
#logo{
	float: left;
	width: 90px;
	height: 90px;
}

.images {
	width: 100%;
    height: 100%;
	}
	
#logo > .images{
	width: 90px;
	height: 90px;
}

/*--------------------------------logo End------------------------------*/
/*--------------------------------logo End------------------------------*/

/*--------------------------------공백------------------------------*/
.null{
	width:5px;
	height:90px;
	float: left;
	background: #ffcec8;
}

/*--------------------------------공백 End------------------------------*/
/*--------------------------------공백 End------------------------------*/

/*--------------------------------main-menu------------------------------*/
.main-menu{
	height: 90px;
	padding-top: 25px;
	overflow: auto;
	font-size : 25px;
	background: #ffcec8;
}

.main-menu > h1{
	display: none;
}

.main-menu > ul{
	text-align: center;	
}

.main-menu > ul > li{
	float: left;
	width : 19%;		/* width : 155px */
	height: 35px;
	display: inline-block;
}

.main-menu > ul > li:first-child{
	padding-left: 15px;
}

.main-menu > ul > li:last-child{
	padding-right: 20px;
}

.main-menu > ul > li:hover{
	color: blue;
	background: #add8e6;
	text-decoration: underline;
}
/*--------------------------------header End------------------------------*/
/*--------------------------------header End------------------------------*/


/*--------------------------------main------------------------------*/

#main{
	width: 100%;
	min-height: 350px;
	background: #b0e0e6;
}

#main > .root-container > h1{
	display: none;
}

.main-box{
	height: 200px;
	margin-bottom: 10px;
}

#main > .root-container{
	padding-top: 100px;
	padding-bottom: 100px;
}
/* .rootcontainer > main-box:first-child{
	padding-top: 100px;
} */

.img-box{
	width: 336px;
	height: 200px;
	float:left; 
}

.img-box > img {
	width:100%;
	height: 200px;
}

.text-box{
	width: 624px;
	height: 200px;
	background: #757575;
	float: right;
}

.subtitle{
	padding-left: 5px;
	padding-top: 20px;
	font-size: 20px;
	color: #999999;
	height: 30px;
	width: 624px;
}

.title{
	padding-left: 5px;
	font-size: 25px;
	height: 40px;
	width: 624px;
}

.surmmary{
	padding-left: 5px;
	font-size: 15px;
	color: #999999;
	height: 100px;
	width: 624px;
}
/*--------------------------------main End------------------------------*/
/*--------------------------------main End------------------------------*/


/*--------------------------------footer------------------------------*/

#footer{
	width: 100%;
	height: 210px;
	background: #313131;
	font-size: 15px;
	padding-top: 45px;
	color: #979797;
	
}

#footer > h1{
	display: none;
}

.left-footer{
	padding-left: 15px;
	width: 43%;
	height: inherit;
	float: left;
	overflow: auto;
}

.right-footer{
	width: 43%;
	height: inherit;
	overflow: auto;
	float: left;
}

#footer-logo{
	width: 75px;
	height: 75px;
}

.footer-images{
	width:75px;
	height: 75px;
	float: left;
}

.copyright{
	margin-top: 90px;
}
