@charset "utf-8";

/*------reset-------------------------------------------------------------------*/

body
{
	margin: 0px;
	padding: 0px;
}

a
{
	text-decoration: none;
	color: inherit;
}

ul
{
	margin: 0px;
	padding: 0px;
}

li
{
	list-style: none;
}

h1
{
	margin: 0px;
	padding: 0px;
}

p
{
	margin: 0px;
	padding: 0px;
}

input
{
	border-width: 0px;
}

fieldset
{
	border: 0px;	
}

select
{
	height: 30px;
	width: 100px;
	padding-left: 5px;
	margin-left: 5px;
	position: relative;
	left: 3px;
}
/*------abstract--------------------------------------------------------------------*/
body
{
	font-family: '맑은 고딕', '고딕', sans-serif;
}


.hidden
{
	display: none;
	
}

.left-align
{
	text-align: left;
	padding-left: 30px;
}

.mt20
{
	margin-top: 20px;
}


.mb20
{
	margin-bottom: 20px;
}

.top-padding
{
	padding-top: 80px;
}

.input
{	
	box-sizing: border-box;
	height: 30px;
	width: 320px;
	padding-left: 10px;
	border: 1px solid #7B7F80;
}

.input-short
{
	box-sizing: border-box;
	height: 30px;
	width: 200px;
	padding-left: 10px;
	border: 1px solid #7B7F80;
}

.input-sh-short
{
	box-sizing: border-box;
	height: 30px;
	width: 95px;
	padding-left: 10px;
	margin-left: 17.5px;
	border: 1px solid #7B7F80;
}

.marl5
{
	margin-left: 0px;
}


.btn-input
{
	box-sizing: border-box;
	border: 1px solid #4BCBE5;
	height: 30px;	
	min-width: 100px;
	display: inline-block;
	background-color: #4BCBE5;
	color: #fff;
	text-align: center;
	font-weight: bold;
	margin-left: 20px;
}


.msg-strong
{
	display: inline-block;
	font-family: 'Batang', '고딕', sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #7B7F80;
	padding-bottom: 5px;	
}

.text-small
{
	font-size: 12px;
}

/*-----------------------------------------------------------------------------------*/
#logo
{	
	text-align: center;
}


#header
{
	width: 100%;
	height: 100px;
	background-color: #4BCBE5;
}


#dir-res,
#direct-reserve
{
	position: relative;
	width: 15%;
	height: 50px;
	background-color: #7B7F80;
	border: 1px solid #7B7F80;
}

#dir-res > a
{
	height: inherit;
	line-height: 50px;
	width : 100%;
	color: #fff;
}

#body
{
	width: 100%;
	min-height: 950px;
	background: url("../Images/phz/main.jpg") no-repeat;
	background-position: center center;
	background-size: cover;
}

#main
{
	width: 100%;
	min-height: inherit;
	box-sizing: border-box;
	border-left: 1px solid #B3B4B5;
	border-right: 1px solid #B3B4B5;
}

	#main > section > h1
	{
		display: none;
	}


#asider:after
{
	content: "";
	display: none;
	clear: both;
}

#footer
{
	width: 100%;
	height: 90px;
	font-size: 13px;
	color: #fff;
	background-color: #000;
}
/*------abstract--------------------------------------------------------------------*/
.main-menu
{	
	position: absolute;
	top: 50px;
	display: flex;
	flex-direction: row; 
	align-items: center;
	width: 100%;
	height: 50px;
	background: #fff;
	border-bottom: 1px solid #B3B4B5;	
	font-size: 20px;
	font-weight: bold;
	color: #7B7F80;
	float: left;
}
	.main-menu > h1
	{
		display: none;
	}
	
	.main-menu > ul
	{	
		width: inherit;
		text-align: center;
	}
	
	.main-menu > ul > li
	{	
		display: inline-block;
		text-align: center;
		margin-left: 10%;
	}
	
	.main-menu.first-mar-plus > ul > li:first-child
	{
		margin-left: 15%;
	}
	
.member-menu
{
	display:inline-block;
	position: absolute;
	top: 10px;
	right: 15px;
	color: #fff;
	font-size: 13px;
}
	
	.member-menu > h1
	{
		display: none;
	}
	
	.member-menu > ul
	{
		overflow: auto;
	}

		.member-menu > ul > li
		{
			float: left;
			padding-left: 10px;
		}
		
		.member-menu > ul > li:after
		{
			clear:left;
		}
		
.footer-menu
{
	
	
}


.root-container
{
	text-align: center;
	height:100%;
	min-height:inherit;
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

	.root-container > section > h1
	{
		display: none;
	}

.category
{
	display: inline-block;
	width: 770px;
	height: 50px;
	background-color: #fff;
	opacity: 0.85;
	align-items: center;
	position: relative;
	top: 350px;
	margin-left: auto;
	margin-right: auto;
	
}

.btn
{	
	position: relative;
	top: 45px;
	display: flex;
	width: 370px;
	height: 100px;
	background-color: #fff;
	float: left;
}

	.btn-window
	{
		margin-right: 15px;
		margin-bottom: 10px;
	}
	
	.btn-door
	{
		margin-left: 15px;
		margin-bottom: 10px;
	}
	
	.btn-bath
	{
		margin-right: 15px;
		margin-top: 10px;
	}
	
	.btn-wallpaper
	{
		margin-left: 15px;
		margin-top: 10px;
	}
	
	.btn a
	{	
		display: flex;
		flex-direction: row;
		box-sizing: border-box;
		height: inherit;
		width : inherit;
		justify-content: center;
		align-items: center;
	}
	
	.btn img
	{	
		display: block;
		height: 80%;
		width: 20%;
	}
	
	
	btn-a:before
	{
		content:' ';
		display:inline-block;
		vertical-align:middle;
		height:100%;
	 	margin-left: -4px;
	}

	.btn-a
	{	
		display: inline-block;
		box-sizing: border-box;
		height: inherit;
		line-height: 70px;
		width : 100%;
		vertical-align: middle;
	}

.btn-default
{
	display: inline-block;
	background-color: #4BCBE5;
	color: #fff;
	text-align: center;
}

 btn-default.btnhuge
 {
 	display: inline-box;
 	height: 100px;
 	width: 100px;
 }



.btn-small
{
	position: absolute;
	right: 0px;
	display: inline-block;
	background-color: #4BCBE5;
	min-width: 80px;
	color: #fff;
	text-align: center;
}	

	.btn-login
	{
		position: absolute;
		right: 0px;
		top: 0px;
		background-color: #4BCBE5;
		min-width : 100px;
		height: 70px;
		color: #fff;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		vertical-align: middle;
	}

.login-bg
{
	background-color: #DDDEDE;
	height: 150px;
	width: 850px;
	margin-top: 10px; 
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}	
	.login-input
	{	
		box-sizing: border-box;
		width: 430px;
		position: relative;
		text-align: left;
		margin-left: auto;
		margin-right: auto;
	}

	.login-input > ul
	{

	}

	.login-input > ul > li
	{
		margin-bottom: 10px;
	}


	.login-etc > ul
	{
		display: flex;
		flex-direction: column;
		font-size: 15px;
	}
	
	
	.login-etc > ul > li
	{
		position: relative;
		text-align: left;
		width: 430px;
		border-bottom: 1px solid #DDDEDE;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		padding-bottom: 20px;
	}
	
.msg-box
{
	display: block;
	text-align: center;
}

.login-box .msg-box
{
	margin-top: 20px;
} 

.register-box
{
	width: 750px;
	min-height: inherit;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	padding-bottom: 30px;
}

.register-box .msg-box
{
/* 	margin-top: 30px; */
}

.register-step
{
	display: block;
	width: inherit;
	height: 35px;
	position: absoulute;
	top: 10px;
	align-item: center;
}

.register-step >ul
{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}


.register-step > ul> li
{
	float: left;
}


.register-step > ul> li:first-child
{	
	background-color: #DDDEDE;
	border-bottom: 3px solid #4BCBE5;
}

.register-step > ul> li > span
{
	display: inline-block;
	height: 30px;
	width: 250px;
	border: 1px solid #DDDEDE;
	box-sizing: border-box;
	border-collapse: collapse;
}

/* .register-step > ul> li:after
{
	clear: left;
}
 */
.type-input
{
	display: inline-block;
	height: 300px;
	padding-top: 80px;
	align-items: center;
}

.type-bg
{	
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 750px;
	height: 500px;
	background-color: #DDDEDE;
}

.box
{
	position:relative;
}

.box-regtype
{	
	margin: 15px;
	height: 300px;
	width: 300px;
	background: #fff;
	border: 1px solid #7B7F80;
	float:left;
}

.box-regtype > a 
{
	display: flex;
	justify-content: center;
}

	.box-regtype > a > span
	{
		display: inline-block;
		height: 20%;
		min-width: 200px; 
		height: 100%;
		font-weight: bold;
		font-size: 20px;
	}

.box-label
{
	width: inherit;
	height: 25px;
	margin-bottom: 10px;
	text-align: left;
	border-bottom: 2px solid #4BCBE5;
	margin-left: auto;
	margin-right: auto;
	
}

.label-text
{
	font-weight: bold;
	font-size: 17px;
}

.info-bg
{
	background: #DDDEDE;
	position: relative;
	width: 750px;
	min-height: inherit;
	padding: 30px 0px 30px 0px;
	margin-left: auto;
	margin-right: auto;
	/* padding-bottom: 30px; */
}



.info-bg .label-text
{
	position: absolute;
	left: 80px;
}

.info-bg .text-small
{
	margin-right: 120px;
}

.info-input
{   
	box-sizing: border-box;
    width: 430px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.info-bg li 
{
    margin-bottom: 7px;
}

.btn-agree
{
	display: inline-block;
	background-color: #4BCBE5;
	min-width: 80px;
	color: #fff;
	text-align: center;
	position: absolute;
	right: 0px;
}	

.btn-huge
{	
	display: inline-block;
	height: 50px;
	width: 200px;
	font-size: 30px;
	font-weight: bold;
}


.text-emp
{
	color:  #4BCBE5;
	font-weight: bold;
}

.box .agree
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	text-align: left;
	position: relative;
	
}


.agree li:first-child
{
	display: block;
	border-bottom: 2px solid #7B7F80;
	padding-bottom: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}
.agree li
{
	margin-bottom: 15px;
}

.agree li > label:hover
{
	cursor: pointer;
}

.category p
{
	line-height: 50px;
}
