@charset "UTF-8";

#whole-container{
	min-height: 1000px;
	height: auto;
	width:100%;	
}


/* --reset-------------------- */






/* --헤더-------------------- */

#header{
	
	
}
.img-background{
	

}




/* --바디-------------------- */








/* --풋터-------------------- */
