@charset "utf-8";

/*-- --------reset-------------------- --*/
body{
	margin:0px;
}
h1{
	margin:0px;
}
h1>ul>li{
	text-align: center;
}
ul{
	padding: 0px 30px;
	margin:0px;
}
li{
	display: block;
}
a{
	text-decoration: inherit;
	color:inherit;
}
img{
	height:130px;
	width:130px;
	background: no-repeat center;
	display:inline-block;
	
}

input{
	display: inline-block;
}
section{
	display: inline-block;
}

/*------------------------------base style--------------------*/
.hidden{
	display:none;
}

/*-------------------component--------------------------------*/
.btn,
.button{
	min-width:71px;
	color:#000000;
	display:inline-block; 
	text-align:center;
	padding:3px 8px;
	border-radius: 4px;
	cursor:pointer;
	border:0px;
	
}
.btn-more,
.button-more{
	margin-top:30px;
	float:right;
}
.btn-page-num{
	margin-left:45%;
	margin-top:13%;
}
.btn-box{
	hegiht:35px;
}

/*-------------------------------------------------*/
.hor-menu{
  display: inline-block;
	}
	
.hor-menu > h1{
  display: none;
	}
  
.hor-menu>ul {
  overflow: auto; 
	}
  .hor-menu>ul>li{
  float: left;
  }
  .hor-menu.fitst-pad-none>ul>li:first-child { /* and */
  padding-left: 0px;
  background: none;
  }
  
/*------------------------------*/
	
	.member-menu{
  font-family :"맑은고딕", "고딕", "sans-serif";
  font-size: 13px;
  font-weight: bold;	
	}
	
  .member-menu>ul>li{
  padding-left: 20px;
  }


/*----------------------------*/
#header{
	height : 180px;
	border-bottom:5px solid #83aafc;
}
#logo{
	width:120px;
	height:120px;
	margin-left:45%;
	margin-top:50px;
}
/*------main-menu style--*/
.main-menu{
  font-family :"맑은고딕", "고딕", "sans-serif";
  font-size: 15px;
  font-weight: bold;	
  color:#000000;
}
.main-menu>ul>li{
  text-align:center;
  padding-left: 70px;
  background: no-repeat 13px center;
  font-size: 23px;
  }
/*----------------------------------------------------------------------------------*/


/*--------------------------------------*/
#body{
	min-height :300px;
	border-top:5px solid #83aafc;
	margin-top:1px;
}
#footer{
	height : 130px;
	background :#313131;
	padding : 35px;
	color:white;
}
.root-container{
	height:100%;
	min-height:inherit;
	width : 960px;
	margin-left:auto;
	margin-right:auto;
}

#body> .root-container{
	display:flex;
	flex-direction: row;
	background: repeat-y center;
}
	

#main{
	min-height:inherit; 
	min-width:755px;
	padding:45px 0px 40px 35px; 
	box-sizing: border-box;
}
.clear-fix::after{
	display:block;
	clear:both;
	height:0px;
	overflow:hidden;
}

.form{
	display:inline-block;
	width: fit-content;
}
.distance-form {
	margin-bottom: 20px;
	margin-top: 25px;}

.distance{
	display: inline-block;
	padding:30px 45px;
	margin-top:25px;
}

.area-list{
	height:25px;
}
.area-list-height{
	margin-left: 230px;
}

.head-menu{
	float:right;
	margin-top:20px;
}

.my-page{
	height:20px;
	width:28px;
}
.table {
		border:3px solid #333333;
		font-size: 15px;
		width: 320px;
		height: 200px;
		/* border-spacing: 0px; */
}

	.table th{
		border: 1px solid #333333;
	}
	
	.table td{
		border: 1px solid #333333;
		padding-left: 10px;
	}
	
.box{
	display: inline-block;
	padding: 30px 15px;
	margin-top: 25px;
	margin-bottom: 30px;
}
.textarea-size{
    width: 315px;
    height: 68px;
}
.area-distance-img{
	height: 206px;
    width: 200px;
}
.constructore-img{
	width: 200px;
    height: 185px;
}




.