@charset "UTF-8";

/*--------------------------------Reset 부분--------------------------------*/
body{
	margin: 0px;
	padding: 0px;
	font-family: "맑은 고딕", "고딕", "돋움", sans-serif;
	font-weight: bold;
	font-size: 25px;
}

ul{
	padding: 0px;
	margin: 0px;
}

li{
	display: block;
}

h1{
	margin: 0px;
}

a{
	text-decoration: inherit;
	color: inherit;
}

select{
	border : 1px;
	border-radius: 5px;
	padding-bottom: 5px;
}

/*--------------------------------Abstract------------------------------*/
.root-container{
	height: 100%;
	min-height: inherit;
	width : 960px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.text-ellipsis{
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}
/*--------------------------------header------------------------------*/
/* header{
	height: 130px;
	position: fixed;
	width: 100%;
}

.top-box{
	display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	height: 115px;	
} */

/*--------------------------------member-menu------------------------------*/
/* .member-bar{
	display: flex;
	height: 30px;
	width: 100%;
	font-size: 12px;
	padding-top: 5px;
	justify-content: center;
	background: #FAFAFA;
}

.member-menu{
	display: flex;
		justify-content: flex-end ;
		align-items: center;
	width: 960px;
}

	.member-menu div{
		padding-left : 10px;
		background: url("../Images/jyh/bg-member-menu-sp.png") no-repeat 5px center;
		color : #424242;
	}

	.member-menu div:first-child{
		padding-left: 0px;
		background: none;
	}
	
	.member-menu div:hover{
		color: #000000;
		background: #b0c4de;
	}
	 */
/*--------------------------------main-menu------------------------------*/
/* .main-bar{
	background: #b0c4de;
	height: 60px;
	width: 100%;
	display:flex;
		justify-content: center;
	font-size: 20px;
}

.main-container{
	display: flex;
		justify-content: center;
	width: 960px;
}

.main-menu{
	display: flex;
		justify-content: space-between;
		align-items: center;
	width: 100%;
}
	
	.main-menu div:hover{
		background: #ffcec8;
	} */
/*--------------------------------logo------------------------------*/

.logo-bar{
	width: 100%;
	height: 40px;
	display: flex;
		justify-content: center;
	padding-top : 5px;
	padding-bottom: 5px;
}

#logo{
	width: 40px;
	height: 40px;
	align-self: center;
	padding-right: 10px;
}

.images{
	width:100%;
	height: 100%;
}

.name{
	color: #0C89DD;
	padding-right: 10px;
}

.full-name{
	font-size: 12px;
	color : #979797;
	padding-top: 15px;
}
/*--------------------------------공백------------------------------*/
.null{
	margin: 0px 10px;
}
/*--------------------------------header End------------------------------*/
/*--------------------------------header End------------------------------*/


/*--------------------------------main------------------------------*/

#main{
	width: 100%;
	min-height: 350px;
/* 	margin-top: 0px;
	padding-top: 50px; */
	background: #FAFAFA;
}

#main > .root-container > h1{
	display: none;
}

#main > .root-container{
	padding-top: 70px;
	padding-bottom: 70px;
	margin-top: 100px;
}

.main-text-box{
	text-align: center;
	margin-bottom: 20px;
	min-height: 50px;
	width: 100%;
}

.search-box{
	text-align: right;
}

.search-text{
	margin: 0px;
}

.btn{
	display: inline-block;
	min-width: 50px;
	min-height: 20px;
	cursor: pointer;
	border:0px;
	border-radius: 5px;
	text-align: center	;
	color:#979797;
	background: #ddd;	
	font-size: 15px;
	font-weight:bold;
	margin : 20px 0 20px 0;
	padding-bottom: 3px;
}

.btn:hover{
	background: #b0c4de;
	text-decoration: underline;
	color: #1C1C1C;
}

.main-box{
	height: 200px;
	padding-bottom: 20px;
}

.img-box{
	width: 336px;
	height: 200px;
	float:left; 
}

.img-box > img {
	width:100%;
	height: 200px;
}

.text-box{
	width: 624px;
	height: 200px;
	background: #E6E6E6;
	float: right;
}

.text-box a{
	width:100%;
	height: 100%;
	display: block;
}

.subtitle{
	padding-left: 10px;
	padding-top: 10px;
	font-size: 20px;
	color: #b0c4de;
	height: 30px;
	width: 624px;
}

/* .subtitle:hover{
	text-decoration: underline;
} */

.title{
	padding-left: 10px;
	font-size: 25px;
	height: 40px;
	width: 624px;
	color :#585858;
}

.surmmary{
	padding-left: 10px;
	font-size: 15px;
	color: #585858;
	height: 100px;
	width: 624px;
}

.review-like{
	padding-left: 10px;
	font-size: 10px;
	height: 10px;
	width: 624px;
}
/*--------------------------------main End------------------------------*/
/*--------------------------------main End------------------------------*/

/*--------------------------------footer------------------------------*/

#footer{
	width: 100%;
	height: 190px;
	background: #313131;
	font-size: 15px;
	padding-top: 45px;
	color: #979797;
	
}

#footer > h1{
	display: none;
}

.left-footer{
	padding-left: 15px;
	width: 45%;
	height: inherit;
	float: left;
	overflow: auto;
}

.right-footer{
	width: 45%;
	height: inherit;
	overflow: auto;
	float: left;
}

#footer-logo{
	width: 50px;
	height: 50px;
	float: left;
}

.copyright{
	margin-top: 60px;
}

/*--------------------------------윤호 Main01 End--------------------------------*/
/*--------------------------------윤호 Main01 End--------------------------------*/

/*--------------------------------윤호 Main02 Start--------------------------------*/
.main02-box{
	height: 200px;
	padding-bottom: 100px;
}

.text02-writer{
	width:624px;
	height: 25px;
	font-size:20px;
	float:left;
	background: #A4A4A4;
}

.text02-regdete{
	width:624px;
	height: 25px;
	float:left;
	font-size:20px;
	background: #A4A4A4;
}

.text02-box{
	width: 624px;
	height: 200px;
	background: #A4A4A4;
	float: left;
}

.text02-box a{
	width:100%;
	height: 100%;
	display: block;
}

.img02-box{
	width: 336px;
	height: 200px;
	float:left; 
}

.img02-box > img {
	width:100%;
	height: 250px;
}


/*--------------------------------윤호 Main02 End--------------------------------*/
/*--------------------------------윤호 Main02 End--------------------------------*/


/*--------------------------------윤호 Main03 Start--------------------------------*/

.search-box03{
	padding-top: 20px;
	text-align: right;
}

.main03-content-box{
	display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	
	width: 100%;
	min-height: 200px;
}

.main03-content{
	width:30%;
	height: 300px;
	padding-bottom: 15px;
}

.main03-image{
	width:90%;
	height: 200px;
}

.main03-text{
	width:100%;
	height:100px;
	font-size: 13px;
	white-space: normal;
	display: inline-block;
	padding-top : 5px;
}

	.main03-text a{
		width:100%;
		height: 100%;
		display: block;
	}

.text03-title{
	text-decoration: underline;
	font-size: 20px;
	width:90%;
	height: 30px
}

.text03-surmmary{
	text-align:cetner;
	width:90%;
	height: 70px;
}
/*--------------------------------윤호 Main03 End--------------------------------*/
/*--------------------------------윤호 Main03 End--------------------------------*/

/*--------------------------------윤호 Main04 Start--------------------------------*/
.content-box{
	height: 230px;
	background: #999;
	display: flex;
		justify-content: space-around;
	padding-top: 10px;
	text-align: center;
}

.big-box{
	width: 650px;
	height: 220px;
	background: green;
	line-height: 8;
}

.small-box{
	width: 300px;
	height: 200px;
	background: #fff;
	line-height: 3.5;
}

.small-content{
	width:300px;
	height: 100px;
	background: yellow;
	padding-bottom: 5px;
	padding-top: 5px;
}
/*--------------------------------윤호 Main04 End--------------------------------*/
/*--------------------------------윤호 Main04 End--------------------------------*/

/*--------------------------------윤호 Detail01 Start--------------------------------*/

#main > .root-container div{
	margin: 0px auto;
}

.detail-title-box{
	width: 80%;
	height: 50px;
	font-size: 20px;
}

.detail-title{
	float: left;
	padding-top : 20px;
}

.detail-popularity{
	font-size: 10px;	
	text-align: right;
	padding-top: 30px;
	padding-left : 0px;
}

.detail-content{
	width: 100%;
	min-height: inherit;
}
	
.detail-img{
	width:80%;
	min-height: 400px;
	text-align: center;
}

	.detail-img img {
		padding-top: 20px;
	}

.detail-text{
	width: 80%;
	min-height: 200px;
	text-align: center;
	font-size: 20px;
	padding-top: 25px;
}

.detail-btn{
	width: 80%;
	text-align: center;
}

	.detail-btn > .btn{
		width: 80px;
		height: 50px;
		font-size: 25px;
	}
/*--------------------------------윤호 Detail01 End--------------------------------*/
/*--------------------------------윤호 Detail01 End--------------------------------*/

/*--------------------------------윤호 Detail02 Start--------------------------------*/
/*--------------------------------윤호 Detail02 End--------------------------------*/
/*--------------------------------윤호 Detail02 End--------------------------------*/

/*--------------------------------윤호 Detail03 Start--------------------------------*/

.detail-title03{
	width : 98%;
	float: left;
	border: 3px solid #979797;
	border-radius: 10px;
	padding: 3px 5px;
	font-size: 18px;
}

.detail-text03-title{
	font-size: 20px;
	text-decoration: underline;
	width: 80%;
	padding: 15px 0px;
}

.detail-text03{
	width: 80%;
	min-height: 200px;
	text-align: center;
	font-size: 15px;
	padding-top: 25px;
}

.detail-popularity03{
	font-size: 10px;	
	text-align: right;
	padding-top: 45px;
	padding-left : 0px;
}
/*--------------------------------윤호 Detail03 End--------------------------------*/
/*--------------------------------윤호 Detail03 End--------------------------------*/

/*--------------------------------윤호 Write Start--------------------------------*/
.reg-btn{
	display: flex;
		justify-content:flex-end;
	font-size: 15px;
	padding-right: 30px;
}
.write{
	font-size: 15px;
	width: 450px;
	margin: 0 auto;
	box-shadow:  3px 3px 3px 3px #e5e5e5;
	/* padding-top: 100px; */
}

.tip-label{
	padding-left: 30px;
	padding-bottom: 20px;
	font-size: 22px;
}

.tip-category{
		font-size: 15px;
}

.tip-select{
	margin-left: 30px;
}
.tip-title{
	font-size: 15px;
}

.write-title{
	margin-left: 80px;
	
}

.tip-category{
	margin-left: 30px;
}

.tip-image{
	margin-left: 50px;
}

.btn-box{
	text-align: center;
}
/*--------------------------------윤호 Write End--------------------------------*/