@charset "UTF-8";
/* 정수꺼 */

/* ----------RESET----------- */

a{
	text-decoration: none;
}




/* ----------BASE STYLE----------- */
#grid{
	height: 100%;
	display: grid;
	
	grid-gap: 3px;
	grid-template-columns : repeat(12,1fr);
	grid-template-rows : 30px 100px auto 100px;
	grid-template-areas:
	"b b b b b b b b b b b b"
	". . l l n n n n n n n n"
	"e e e e e e e e e e e e"
	"f f f f f f f f f f f f"
}

#topbar{
	/* grid-column: 1/-1; */
	grid-area: b;
}

#toplogo{
	/* grid-row: 1/2; */
	grid-area: l;
}

#topnav{
	/* grid-column: 2/-1; */
	grid-area: n;
}

#est-request{
	/* grid-column: 1/-1; */
	grid-area: e;
}

footer{
	/* grid-column: 1/-1; */
	grid-area: f;
}
/* ----------COMPONENT----------- */





/* ----------HEADER----------- */
header{
	/* position: fixed; */
	
}


#topbar{
	display: flex;
			justify-content: center;
			align-items: center;
	background: #fff;
	height: 30px;
/* 	line-height: 1.2; */
}


.container{
	display: flex;
			justify-content: flex-end;
			align-items: center;
	height: 30px;
	width: 60%;
}

.container > div > a {
	font-size: 12px;
	color:#1da1f2;
	padding: 0px 10px;
	font-weight: bold;
}


#topnav{
	display: flex;
/* 			align-items: baseline; */
			justify-content: center;
	width: 100%;
	height: 100px;
	background: #1da1f2;
}


.main-menu{
	display: flex;
			align-items: center ;
			justify-content: center;
}

.main-menu > div {
	padding: 20px;
}



/* ----------MAIN---------- */
main{
	display: flex;
			justify-content: center;
}

#est-request{
	display: center;
			justify-content: center;
	max-width: 700px;

	padding: 20px;
	border: solid blue 5px;
	background: #b3b3b3;
}

.content{
	
/* 	display: grid;
	grid-template-columns : repeat(3,1fr);
	grid-template-rows : 130px auto 130px;
	grid-gap: 3px;
	grid-column-start: 1;
	grid-column-end: 3;  */
}


/* ----------FOOTER----------- */

footer{
	/* position: fixed; */
	clear: both;
	width: 100%;
	height: 120px;
	background-color: #979797;
}



/* ----------VISUAL----------- */