@charset "UTF-8";

/*--------------------------------Reset 부분--------------------------------*/
body{
	margin: 0px;
	padding: 0px;
	font-family: "맑은 고딕", "고딕", "돋움", sans-serif;
	font-weight: bold;
	font-size: 25px;
}

ul{
	padding: 0px;
	margin: 0px;
}

li{
	display: block;
}

h1{
	margin: 0px;
}

a{
	text-decoration: inherit;
	color: inherit;
}

select{
	border : 1px;
	border-radius: 5px;
	padding-bottom: 5px;
}

/*--------------------------------Abstract------------------------------*/
.root-container{
	height: 100%;
	min-height: inherit;
	width : 960px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

/*--------------------------------header------------------------------*/
#header{
	width:100%;
	height: 150px;
	background: #b0c4de;
}


/*--------------------------------member-menu------------------------------*/
.member-menu{
	border-bottom: 5px solid #add8e6;
	height: 55px;
	overflow: auto;
}

.member-menu > h1{
	display: none;
}

.member-menu-box{
	float: right;
	padding-top: 15px;
	padding-right: 15px;
}

.member-menu-box > ul > li{
	float: left;
	padding-left: 10px;
	background: url("../Images/jyh/bg-member-menu-sp.png") no-repeat 5px center;
	font-size: 12px; 
	color : #979797;
}

.member-menu-box > ul > li:first-child{
	padding-left: 0px;
	background: none;
}

.member-menu-box > ul > li:hover{
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}


/*--------------------------------logo------------------------------*/
#logo{
	float: left;
	width: 90px;
	height: 90px;
}
	
#logo > .images{
	width: 90px;
	height: 90px;
}

.images {
	width: 100%;
    height: 100%;
}

/*--------------------------------logo End------------------------------*/
/*--------------------------------logo End------------------------------*/

/*--------------------------------공백------------------------------*/
.null{
	width:5px;
	height:90px;
	float: left;
	background: #ffcec8;
}

/*--------------------------------공백 End------------------------------*/
/*--------------------------------공백 End------------------------------*/

/*--------------------------------main-menu------------------------------*/
.main-menu{
	height: 90px;
	padding-top: 25px;
	overflow: auto;
	font-size : 25px;
	background: #ffcec8;
}

.main-menu > h1{
	display: none;
}

.main-menu > ul{
	text-align: center;	
}

.main-menu > ul > li{
	float: left;
	width : 19%;		/* width : 155px */
	height: 35px;
	display: inline-block;
}

.main-menu > ul > li:first-child{
	padding-left: 15px;
}

.main-menu > ul > li:last-child{
	padding-right: 20px;
}

.main-menu > ul > li:hover{
	color: blue;
	background: #add8e6;
	text-decoration: underline;
	cursor: pointer;
}
/*--------------------------------header End------------------------------*/
/*--------------------------------header End------------------------------*/


/*--------------------------------main------------------------------*/

#main{
	width: 100%;
	min-height: 350px;
	background: #b0e0e6;
}

#main > .root-container > h1{
	display: none;
}

#main > .root-container{
	padding-top: 70px;
	padding-bottom: 100px;
}

.main-text-box{
	text-align: center;
	margin-bottom: 20px;
}

.search-box{
	text-align: right;
}

.search-text{
	margin: 0px;
}

.btn{
	display: inline-block;
	min-width: 50px;
	min-height: 20px;
	cursor: pointer;
	border:0px;
	border-radius: 5px;
	text-align: center;
	color:#979797;
	background: #ddd;	
	font-size: 15px;
	font-weight:bold;
	margin : 20px 0 20px 0;
	padding-bottom: 3px;
}

.btn:hover{
	background: #FFCEC8;
	text-decoration: underline;
	font-weight: bold;
}

.main-box{
	height: 200px;
	padding-bottom: 20px;
}


/* .rootcontainer > main-box:first-child{
	padding-top: 100px;
} */

.img-box{
	width: 336px;
	height: 200px;
	float:left; 
}

.img-box > img {
	width:100%;
	height: 200px;
}

.text-box{
	width: 624px;
	height: 200px;
	background: #757575;
	float: right;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

.text-box a{
	width:100%;
	height: 100%;
	display: block;
}

.subtitle{
	padding-left: 10px;
	padding-top: 10px;
	font-size: 20px;
	color: #b0c4de;
	height: 30px;
	width: 624px;
}

/* .subtitle:hover{
	text-decoration: underline;
} */

.title{
	padding-left: 10px;
	font-size: 25px;
	height: 40px;
	width: 624px;
	color :#b0e0e6
}

.surmmary{
	padding-left: 10px;
	font-size: 15px;
	color: #add8e6;
	height: 100px;
	width: 624px;
}

.review{
	padding-left: 10px;
	font-size: 10px;
	height: 10px;
	width: 624px;
}
/*--------------------------------main End------------------------------*/
/*--------------------------------main End------------------------------*/


/*--------------------------------footer------------------------------*/

#footer{
	width: 100%;
	height: 210px;
	background: #313131;
	font-size: 15px;
	padding-top: 45px;
	color: #979797;
	
}

#footer > h1{
	display: none;
}

.left-footer{
	padding-left: 15px;
	width: 43%;
	height: inherit;
	float: left;
	overflow: auto;
}

.right-footer{
	width: 43%;
	height: inherit;
	overflow: auto;
	float: left;
}

#footer-logo{
	width: 75px;
	height: 75px;
}

.footer-images{
	width:75px;
	height: 75px;
	float: left;
}

.copyright{
	margin-top: 90px;
}

.clear-fix::after {
	display: block;
	clear:both;
	height: 0px;
	overflow: hidden;
}

/*--------------------------------윤호 Main01 End--------------------------------*/
/*--------------------------------윤호 Main01 End--------------------------------*/

/*--------------------------------윤호 Main02 Start--------------------------------*/
/*--------------------------------윤호 Main02 End--------------------------------*/
/*--------------------------------윤호 Main02 End--------------------------------*/


/*--------------------------------윤호 Main03 Start--------------------------------*/

.search-box03{
	padding-top: 20px;
	text-align: right;
}

/*--------------------------------윤호 Main03 End--------------------------------*/
/*--------------------------------윤호 Main03 End--------------------------------*/
/*--------------------------------윤호 Detail01 Start--------------------------------*/

#main > .root-container div{
	margin: 0px auto;
}

.detail-title-box{
	width: 80%;
	height: 50px;
	font-size: 20px;
}

.detail-title{
	float: left;
}

.detail-popularity{
	font-size: 10px;	
	text-align: right;
	padding-top: 18px;
}

.detail-content{
	width: 100%;
	min-height: inherit;
	background: #666;
}
	
.detail-img{
	width:80%;
	min-height: 400px;
	background: #999;
	text-align: center;
}

	.detail-img img {
		padding-top: 20px;
	}

.detail-text{
	width: 80%;
	min-height: inherit;
	background: #707070;
	text-align: center;
	font-size: 20px;
	padding-top: 25px;
}

.detail-btn{
	width: 80%;
	text-align: center;
}

	.detail-btn > .btn{
		width: 80px;
		height: 50px;
		font-size: 25px;
	}
/*--------------------------------윤호 Detail01 End--------------------------------*/
/*--------------------------------윤호 Detail01 End--------------------------------*/

/*--------------------------------윤호 Detail02 Start--------------------------------*/
/*--------------------------------윤호 Detail02 End--------------------------------*/
/*--------------------------------윤호 Detail02 End--------------------------------*/

/*--------------------------------윤호 Detail03 Start--------------------------------*/

.detail-title03{
	width : 95%;
	float: left;
	border: 3px solid #979797;
	border-radius: 10px;
	padding: 3px 5px;
	font-size: 18px;
}

.detail-text03-title{
	font-size: 20px;
	text-decoration: underline;
	width: 80%;
	padding: 15px 0px;
}

.detail-text03{
	width: 80%;
	min-height: inherit;
	background: #707070;
	text-align: center;
	font-size: 15px;
	padding-top: 25px;
}

/*--------------------------------윤호 Detail03 End--------------------------------*/
/*--------------------------------윤호 Detail03 End--------------------------------*/

/*--------------------------------Detail Page Start--------------------------------*/
/*--------------------------------Top-Box--------------------------------*/
.top-box{
	width:100%;
	height: 500px;
	background: red;
	display: flex;
}

	.top-box > h1{
		display: none;
	}
	
.top-left-box{
	background: #fff;
}

.cst-images{
	width: 300px;
	height: 300px;
}

.form-box{
	border : 2px solid #000;
	margin-top : 20px;
	width: 300px;
	font-size: 15px;
}
	.form-box > input{
		margin:0px;
		padding: 0px;
		height: 15px;
		width: 230px;
	}
	
	.form-box > label{
		height: 35px;
		border-right : 2px solid #000;
	}

.rank-label{
	padding-right: 15px;
}

.top-mid-box{
	width: 330px;
	background: #888;
	font-size: 20px;
}

	.top-box textarea{
		background: #888;
		border : 3px solid #000;
		width:310px;
		height: 235px;
		resize: none;
	}
	
.table {
		border:3px solid #333333;
		font-size: 15px;
		width: 320px;
		height: 200px;
		/* border-spacing: 0px; */
}

	.table th{
		border: 1px solid #333333;
	}
	
	.table td{
		border: 1px solid #333333;
		padding-left: 10px;
	}
	
.top-right-box{
	background: #333;
	width: 330px;
	margin-top : 25px;
}

.map-box{
	width: 250px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #999;
}

.map{
	width:inherit;
	height:250px;
	background: url("../Images/jyh/mapExam.png") no-repeat center;
}

.distance {
	border : 2px solid #000;
	margin-top : 20px;
	width: 250px;
	font-size: 15px;
}

	.distance label{
		height: 35px;
		border-right : 2px solid #000;
		font-size: 15px;
	}
	
	.distance input{
		margin:0px;
		padding: 0px;
		height: 15px;
		width: 80px;
	}
	
.btn-box{
	height: 200px;
	width: inherit;
	margin-top:40px;
	margin-left: 35px;
}

	.btn-box > input{
		height: 50px;
		width:80px;
		font-size: 15px;
		text-align:center;
		padding: 0px; 
	}
/*--------------------------------Top-Box End--------------------------------*/
/*--------------------------------Top-Box End--------------------------------*/
.mid-box{
	width:100%;
	height: 350px;
	background: blue;
}

/*--------------------------------Mid-Box End--------------------------------*/
/*--------------------------------Mid-Box End--------------------------------*/

/*--------------------------------Bot--Box--------------------------------*/
.bot-box{
	width:100%;
	height: 350px;
	background: yellow;
}

/*--------------------------------Bot-Box End--------------------------------*/
/*--------------------------------Bot-Box End--------------------------------*/