@charset "UTF-8";
/* ---------reset---------------------------- */
a{
	text-decoration: none;
	color:inherit;
	}
	

	
/* --base style-------------------------------------- */

.hidden{
display:none;
}
 a:hover{
	text-decoration: inherit;

}
.padding-l-10{
	padding-left:10px;
	float:left;
}
.box{
	margin-top:30px;
	
}

.btn{
	min-width:65px;
	padding:3px 8px;
	border-radius: 7px;
}
.btn:hover{
	background: #D9E5FF;
	
	
}

.font-content{
	font-size: 20px;
	padding: 30px 10px 10px 20px;
	float:left;
}
select{
	width: 100px;
    height: 25px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 28px;
    margin-left:10px;
}
.text-ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	list-style:none;
	margin-top:5px;

}

 /* -------------------------------------------------- */
 #wrap{
  
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
 }
 #header{

  height:180px;
  background: #FFF2E6;
  font-family:"a옛날목욕탕L","고딕","sans-serif";
  
 }


 /* -----헤더.------------------------------------- */


/* ----메뉴----- */
.menu{
 

 }
 .hor-menu{

}
 .hor-menu>ul{
  overflow:auto;
 }
 .hor-menu>ul>li{
 	display:inline-block;
 }
 
 /* --------멤버메뉴 */
 .menu-member{
	height : 15%;
	background:#FFF2E6;
	text-align:right;
	margin:0;
	font-family:"a옛날목욕탕L","고딕","sans-serif";
	font-size:15px;
	color: #807973;

 }
 
  .menu-member>ul{
	padding-right:30px;
	margin:inherit;

 }
.menu-member>ul > li{
	padding-right: 16px;
	margin-bottom: 6px;
}
.logo-member{

	opacity: 0.5;
}
 .img-logo{
	 height:65%;
	background:white;
	margin:0;

 }
 .img-logo > h1{
 	align-content: center;
 }
 
.menu-member .logo-member{
 	height: 24px;
 }
 
 /* ---그림로고 */
 #logo{
	 height : 100%;
	 margin-left:44%;
	display: inline-block;
 }
 
/*  -----메인메뉴-- */
 .menu-main{
	height : 20%;
	/* background:blue; */
	margin:0;
	font-family:"a옛날목욕탕L","고딕","sans-serif";
	font-size:24px;
	font-weight:bold;
	color: #686868;

 }
.menu-main > ul{
	margin:inherit;
	text-align: center;
}
  
.menu-main > ul > li{
	padding: 4px 32px 4px 32px;
	background:url("../Images/ic_accessibility_black_24dp_1x.png") no-repeat 10px center; 
}
 /* ----------바디-------------------- */
 #body{
	 margin-top:20px;
	 min-height:500px;
	 background:#D4F4FA; 
	 height:auto;
	 font-family:"a옛날목욕탕L","고딕","sans-serif";
 }
 
 .company-info{
	 height: 400px;
     background-color: #EDFAFD/* #EBF7FF *//* #FFD8D8 *//* #CEFBC9 */;
     margin-top: 20px;
 
 }
 .constructor-img{
	 width:350px;
	 height:400px;
	 
	 float:left;
 }
 .company-main-img{
	 height: 300px;
	 border: solid 1px gray;
	 margin:30px 20px 2px;
	 font-size: 22px;
    
 }
 .company-name{
	 font-size: 22px;
	 padding-left: 40px;
	 color:gray;
 }
 .star{
	 height:20px;
	 width:20px;
	 float:left;
 }
 .constructor-info{
	 float:left;
	 width:650px;
	 height:400px;
 
 }
 .company-major{
 	float: left;
 }
 .major{
	 height:50px;
	 float:left;
	 /* padding: 18px 10px; */
	 margin:16px;
 }
 .major:last-child{
 	float:none;
 }
 .company-information{
	 border: solid 1px gray;
	 border-radius: 10px;
	 font-size: 15px;
     font-family: 돋움;
 }
 
 .company-sort{
	 height:100px;
	/*  background-color: #FAF4C0; */
 
}
.body-font{
	padding-top:30px;
	padding-left:20px;
	font-size:20px;
	float: left;
}

 .company-array{
	 height:inherit;
	 width:240px;
	 
	 float:left;
 }
 .construction-sort{
	 height:inherit;
	 width:480px;
	 
	 float:left;
 }
 
 .search{
	 height:inherit;
	 width:280px;
	 
	 float:left;
	 margin-top:28px;
 }
 
 .company-port{
	 min-height:500px;
	 height:auto;
	 background-color: #B2CCFF;
 }
 
.company-content{
	height:300px;
	background-color:#F2F2F2/* #FFD8D8 */;
	border-top: 1px solid gray;

}
.company-content2{
	float:left;
	width:333px;
	height: inherit;
}
.img-interior{
	height: 190px;
    margin: 30px;
    margin-bottom: 0;
    border-radius: 5px;
}
.img-interior:hover{
	opacity: 0.7;
}

.search > .box > input{
	margin-right: 10px;
	margin-left: 10px;
}



/*  ------------풋터------------- */

#footer{
	height:154px;
	 background:#444444/* #A3AFC9 */;
	 font-size: 15px;
	 color:#F2F2F2;
	 font-weight: lighter;
 }
 #ceo{
	 margin-left:150px;
	 margin-top:20px;
	 height:50px;
	 border:1px solid black;
	 border-radius: 10px;
	 float:left;
	 border-color:#8C8C8C;
 }
 #company-info{
    margin-left: 200px;
    padding-top: 16px;
   
 }
 #customer-svc{
	 margin:auto;
	 padding-left:150px;
 }
 
 #copyright{
 	position: absolute;
 	right: 30px;
 }
 /* ----사이드바--------------------- */
#side{
	background-color: #75bbec/* #A0D9E2 *//* #C4D4E0 */ /* #AED9DA */ ;
	width:90px;
	height:100px;
	position: fixed;
	right:240px;
	top:150px;
	text-align: center;
	margin-top: 100px;
	color: #37435D;
	font-size: 20px;
	
	font-family:"a옛날목욕탕L","고딕","sans-serif";
	padding:3px;
	
	display: flex;
    
    align-items: center;
    
	border-radius: 12px;
}

#side>a{
	
}
#side:hover{	
	text-decoration:none;
	cursor: pointer;
}
 
 /* -@@@@@@@@@@@@@@@@@@@@--상세페이지 body------ */	
 
 .detail-title{
 	height:35px;
 	background:pink;
 	border-bottom: 1px solid gray;
 	border-bottom-style: dotted;
 	text-align: center;
 	font-size:23px;
 	padding-top:10px;
 	 }
 .detail-info{
 	height: 450px;
 	background-color: tomato;
 	padding-top: 20px;
 }
 .detail-img{
 	float: left;
 	background-color: red;
 	height:430px;
 	width:600px;
 	margin-left: 20px;
 	border-radius: 10px;
 }
 
 .detail-cate{
 	height:430px;
 	float:left;
 	margin:0;
 	width:340px;
 	background-color: green;
 	margin-left: 20px;
 }
 
	.detail-table{
		float:left;
		text-align: center;
		margin-left:60px;
		font-size:18px;
		background-color: #D8D8D8;
		
	}
	.menu-total{
		width:inherit;
		height:150px;
		background-color: blue;
		border-top-style: dotted;
		border-top: 2px solid gray;
		
		
	}
	.choice-container{
		display:flex;
		width:500px;
		height:50px;
		background:fuchsia;
		margin-left: 230px;
		justify-content:space-around;
		align-items:flex-end;
	}
	.flex-choice{
		display:flex;
		justify-content:center;
		/* justify-content:space-around;
		align-items:flex-end; */
		flex-direction: row;
		justify-content:space-around;
	}
	
		
		
  .construction-content{
 	width:inherit;
 	height:280px;
 	background-color: white;
 }
 
	 .detail-content{
	 	width:inherit;
	 	min-height:20px;
	 	background: aqua;
	 	margin:30px;
	 	border: 2px solid black;
	 	text-align: center;
	 }
	 .btn-large{
		 width:100px;
	 	height: 40px;
	 	padding:3px 8px;
	 	display:inline-block;
	 	text-align: center;
	 	border-radius: 4px;
	 	border:0px;
	 	cursor:pointer;
	 	border: 1px solid gray;
	 	background-color: #b3d9ff;
	 	/* margin-left:40px; */
	 }
	
 /* #detail-title{
 	height:40px;
 	background-color: #EDFAFD#FFD8D8;
 	margin-top:50px;
 	text-align: center;
 	padding-top: 10px;
 	font-size:20px;
 	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: 1px solid gray;
	border-bottom-style: dotted;
 } */
/*  .detail-info{
 	height:440px;
 	margin:30px;
 	background-color: #EDFAFD;
 }
 	.detail-img{
 		height:420px;
 		margin:auto;
 		float:left;
 		width:600px;
 	}
 	.detail-cate{
 		background-color: #EDFAFD ;
 		overflow: hidden;
 		padding-top:50px;
 		height: 370px;
   		 width: 310px;
   		 padding-left: 30px;
 		
 	} */
 /*	.construction-content{
 		float:left;	
 		
 		border-bottom:1.5px dotted gray;
 	}
 	.construction-content>ul >li{
 		list-style: circle;
 		padding-bottom:15px;
 	} */
/*  .detail-content{
 	padding: 30px;
 	background-color: white;
 	text-align: center;
 	border: 2px solid gray;
 	border-radius: 10px;
 	font-family: "굴림";
 }
 .btn-large{
 	width:100px;
 	height: 30px;
 	padding:3px 8px;
 	display:inline-block;
 	text-align: center;
 	border-radius: 4px;
 	border:0px;
 	cursor:pointer;
 	border: 1px solid gray;
 	background-color: #b3d9ff;
 	margin-left:40px;
 	
 }
 	.btn-large:hover{
 		background-color: #6d80e9;
 	} */
 	
/*  --작성, 수정.---------------------- */	

.root-container{
	height: 100%;
	min-height: inherit;
	width:1000px;
	margin:0 auto;
}	